
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  
    
    <div class="border-round border-1 surface-border p-4 surface-card" style="background-color: #156d1b; border-radius: 9px; text-align: center; width: 1500px; height: 200px;">


<div style=" border-radius: 9px;  padding: 10px; height: 800px;  text-align: left; background-color: #e2f4d2ea; text-align: center;">
    <br>
    <h2 style="color: hsl(113, 93%, 24%); text-align: center; font-size: 30px;" > Questionnaire Completed Successfully!</h2><br>
    <button (click)="submitQuestionnaire()" style=" background-color:  #156d1b; width: 100px; height: 40px; color:white; font-size: 20px;">Submit</button>
</div>
  


